<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Canvas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D5FCAF2E203E318500708884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FCAF42203E318600708884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5FCAF4D203E318600708884</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
